.category {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 700px;
  z-index: 999;
  padding-top: 10px; /* Thêm khoảng đệm nhỏ để rê chuột không bị mất hover */
}

.category:hover .dropdown-menu {
  display: block;
}

.category-title:hover {
  cursor: pointer;
  color: #ffaa00;
}

.dropdown-menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 20px;
  padding: 16px;
  background-color: #0d0d0d;
  border: 1px solid #222222;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
  list-style: none;
  margin: 0;
  color: white;
}

.dropdown-menu li a {
  white-space: nowrap;
  text-align: left;
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #ffaa00;
  cursor: pointer;
}
